# District Cleaning â€” Andhra Pradesh

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [9]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [10]:
STATE_NAME = "Andhra Pradesh"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Andhra Pradesh
Number of unique districts: 45

                   District Name
0          Alluri Sitharama Raju
1                     Anakapalli
2                      Anantapur
3                     Ananthapur
4                  Ananthapuramu
5                      Annamayya
6                        Bapatla
7                       Chittoor
8                       Cuddapah
9   Dr. B. R. Ambedkar Konaseema
10                 East Godavari
11                         Eluru
12                        Guntur
13               K.V. Rangareddy
14                K.V.Rangareddy
15                      Kakinada
16                   Karim Nagar
17                    Karimnagar
18                       Khammam
19                       Krishna
20                       Kurnool
21                 Mahabub Nagar
22                  Mahabubnagar
23                   Mahbubnagar
24                         Medak
25                       N. T. R
26                      Nalgonda
27                       Nandyal
28                       Nellore
29                     Nizamabad
30                       Palnadu
31          Parvathipuram Manyam
32                      Prakasam
33                    Rangareddi
34                  Spsr Nellore
35   Sri Potti Sriramulu Nellore
36                Sri Sathya Sai
37                    Srikakulam
38                      Tirupati
39                Visakhapatanam
40                 Visakhapatnam
41                  Vizianagaram
42                      Warangal
43                 West Godavari
44                       Y. S. R

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [11]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ… Total fixes in Andhra Pradesh: 0

In [12]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)