# District Cleaning â€” Chhattisgarh

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [1]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [2]:
STATE_NAME = "Chhattisgarh"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Chhattisgarh
Number of unique districts: 33

                      District Name
0                             Balod
1             Balodabazar-Bhatapara
2             Balrampur-Ramanujganj
3                            Bastar
4                          Bemetara
5                           Bijapur
6                          Bilaspur
7          Dakshin Bastar Dantewada
8                          Dhamtari
9                              Durg
10                       Gariyaband
11           Gaurela-Pendra-Marwahi
12                   Janjgir-Champa
13                          Jashpur
14                       Kabeerdham
15    Khairagarh-Chhuikhadan-Gandai
16                        Kondagaon
17                            Korba
18                            Korea
19                       Mahasamund
20  Manendragarhâ€“Chirmiriâ€“Bharatpur
21     Mohla-Manpur-Ambagarh Chouki
22                          Mungeli
23                       Narayanpur
24                          Raigarh
25                           Raipur
26                      Rajnandgaon
27                            Sakti
28              Sarangarh-Bilaigarh
29                            Sukma
30                         Surajpur
31                          Surguja
32              Uttar Bastar Kanker

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [5]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Balodabazar-Bhatapara": ["Baloda Bazar"],
    "Balrampur-Ramanujganj": ["Balrampur"],
    "Dakshin Bastar Dantewada": ["Dantewada"],
    "Gaurela-Pendra-Marwahi": ["Gaurella Pendra Marwahi"],
    "Janjgir-Champa": ["Janjgir Champa", "Janjgir - Champa"],
    "Uttar Bastar Kanker": ["North Bastar Kanker", "Kanker"],
    "Kabeerdham": ["Kawardha"],
    "Khairagarh-Chhuikhadan-Gandai": ["Khairagarh Chhuikhadan Gandai"],
    "Korea": ["Koriya"],
    "Mohla-Manpur-Ambagarh Chouki": ["Mohalla-Manpur-Ambagarh Chowki"],
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ… Total fixes in Chhattisgarh: 0

In [4]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)