# District Cleaning â€” Karnataka

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [1]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [64]:
STATE_NAME = "Karnataka"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Karnataka
Number of unique districts: 32

             District Name
0                 Bagalkot
1                  Ballari
2                 Belagavi
3          Bengaluru Rural
4          Bengaluru South
5          Bengaluru Urban
6   Bengaluru(Unspecified)
7                    Bidar
8           Chamarajanagar
9           Chikkaballapur
10          Chikkamagaluru
11             Chitradurga
12        Dakshina Kannada
13              Davanagere
14                 Dharwad
15                   Gadag
16                  Hassan
17                  Haveri
18              Kalaburagi
19                  Kodagu
20                   Kolar
21                  Koppal
22                  Mandya
23                  Mysuru
24                 Raichur
25              Shivamogga
26                Tumakuru
27                   Udupi
28          Uttara Kannada
29            Vijayanagara
30              Vijayapura
31                  Yadgir

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [61]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Bengaluru Rural" : ["Bangalore Rural"],
    "Ballari" : ["Bellary"],
    "Bagalkot" : ["Bagalkot *"],
    "Belagavi" : ["Belgaum"],
    "Vijayapura" : ["Bijapur", "Bijapur(Kar)"],
    "Chamarajanagar" : ["Chamarajanagar *", "Chamrajanagar", "Chamrajnagar"],
    "Chikkamagaluru" : ["Chikmagalur", "Chickmagalur"],
    "Davanagere" : ["Davangere"],
    "Gadag" : ["Gadag *"],
    "Hassan" : ["Hasan"],
    "Haveri" : ["Haveri *"],
    "Mysuru" : ["Mysore"],
    "Shivamogga" : ["Shimoga"],
    "Tumakuru" : ["Tumkur"],
    "Udupi" : ["Udupi *"],
    "Kalaburagi" : ["Gulbarga"],
    "Bengaluru South": ["Ramanagar", "Ramanagara"],
    "Bengaluru(Unspecified)" : ["Bengaluru", "Bangalore"],
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ” Enrolment â†’ Ballari : 1519 rows fixed
âœ” Demographic â†’ Ballari : 2570 rows fixed
âœ” Biometric â†’ Ballari : 3046 rows fixed
âœ… Total fixes in Karnataka: 7135

In [63]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)