# District Cleaning â€” Madhya Pradesh

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [1]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [5]:
STATE_NAME = "Madhya Pradesh"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Madhya Pradesh
Number of unique districts: 55

   District Name
0     Agar Malwa
1      Alirajpur
2        Anuppur
3    Ashok Nagar
4       Balaghat
5        Barwani
6          Betul
7          Bhind
8         Bhopal
9      Burhanpur
10    Chhatarpur
11    Chhindwara
12         Damoh
13         Datia
14         Dewas
15          Dhar
16       Dindori
17          Guna
18       Gwalior
19         Harda
20        Indore
21      Jabalpur
22        Jhabua
23         Katni
24       Khandwa
25      Khargone
26        Maihar
27        Mandla
28      Mandsaur
29       Mauganj
30        Morena
31  Narmadapuram
32   Narsinghpur
33       Neemuch
34        Niwari
35     Pandhurna
36         Panna
37        Raisen
38       Rajgarh
39        Ratlam
40          Rewa
41         Sagar
42         Satna
43        Sehore
44         Seoni
45       Shahdol
46      Shajapur
47       Sheopur
48      Shivpuri
49         Sidhi
50     Singrauli
51     Tikamgarh
52        Ujjain
53        Umaria
54       Vidisha

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [3]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Ashok Nagar": ["Ashoknagar"],
    "Harda": ["Harda *"],
    "Khandwa": ["East Nimar"],
    "Khargone": ["West Nimar"],
    "Narmadapuram": ["Hoshangabad"],
    "Narsinghpur": ["Narsimhapur"]
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ” Enrolment â†’ Ashok Nagar : 5 rows fixed
âœ” Enrolment â†’ Harda : 203 rows fixed
âœ” Enrolment â†’ Khandwa : 771 rows fixed
âœ” Enrolment â†’ Khargone : 368 rows fixed
âœ” Enrolment â†’ Narmadapuram : 761 rows fixed
âœ” Enrolment â†’ Narsinghpur : 485 rows fixed
âœ” Demographic â†’ Harda : 287 rows fixed
âœ” Demographic â†’ Khandwa : 974 rows fixed
âœ” Demographic â†’ Khargone : 625 rows fixed
âœ” Demographic â†’ Narmadapuram : 872 rows fixed
âœ” Demographic â†’ Narsinghpur : 767 rows fixed
âœ” Biometric â†’ Harda : 387 rows fixed
âœ” Biometric â†’ Khandwa : 1196 rows fixed
âœ” Biometric â†’ Khargone : 935 rows fixed
âœ” Biometric â†’ Narmadapuram : 1160 rows fixed
âœ” Biometric â†’ Narsinghpur : 901 rows fixed
âœ… Total fixes in Madhya Pradesh: 10697

In [4]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)