# District Cleaning â€” Maharashtra

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [6]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [16]:
STATE_NAME = "Maharashtra"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Maharashtra
Number of unique districts: 36

                District Name
0                 Ahilyanagar
1                       Akola
2                    Amravati
3                        Beed
4                    Bhandara
5                    Buldhana
6                  Chandrapur
7   Chhatrapati Sambhajinagar
8                   Dharashiv
9                       Dhule
10                 Gadchiroli
11                     Gondia
12                    Hingoli
13                    Jalgaon
14                      Jalna
15                   Kolhapur
16                      Latur
17                Mumbai City
18            Mumbai Suburban
19                     Nagpur
20                     Nanded
21                  Nandurbar
22                     Nashik
23                    Palghar
24                   Parbhani
25                       Pune
26                     Raigad
27                  Ratnagiri
28                     Sangli
29                     Satara
30                 Sindhudurg
31                    Solapur
32                      Thane
33                     Wardha
34                     Washim
35                   Yavatmal

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [14]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Ahilyanagar": ["Ahmadnagar","Ahmed Nagar","Ahmednagar"],
    "Beed" : ["Bid"],
    "Chhatrapati Sambhajinagar": ["Aurangabad","Chatrapati Sambhaji Nagar"],
    "Buldhana": ["Buldana"],
    "Gondia": ["Gondiya","Gondiya *"],
    "Hingoli": ["Hingoli *"],
    "Nandurbar": ["Nandurbar *"],
    "Dharashiv": ["Osmanabad"],
    "Mumbai Suburban": ["Mumbai( Sub Urban )"],
    "Raigad" : ["Raigarh", "Raigarh(Mh)"],
    "Washim": ["Washim *"],
    "Mumbai City" : ["Mumbai"]
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ” Enrolment â†’ Mumbai City : 4102 rows fixed
âœ” Demographic â†’ Mumbai City : 6265 rows fixed
âœ” Biometric â†’ Mumbai City : 7218 rows fixed
âœ… Total fixes in Maharashtra: 17585

In [15]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)