# District Cleaning â€” Tamil Nadu

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [1]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [6]:
STATE_NAME = "Tamil Nadu"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Tamil Nadu
Number of unique districts: 39

      District Name
0          Ariyalur
1      Chengalpattu
2           Chennai
3        Coimbatore
4         Cuddalore
5        Dharmapuri
6          Dindigul
7             Erode
8      Kallakurichi
9       Kanchipuram
10      Kanyakumari
11            Karur
12      Krishnagiri
13          Madurai
14   Mayiladuthurai
15     Nagapattinam
16         Namakkal
17     Namakkal   *
18       Perambalur
19      Pudukkottai
20   Ramanathapuram
21          Ranipet
22            Salem
23        Sivaganga
24          Tenkasi
25        Thanjavur
26     The Nilgiris
27            Theni
28      Thiruvallur
29       Thiruvarur
30     Thoothukkudi
31  Tiruchirappalli
32      Tirunelveli
33       Tirupattur
34         Tiruppur
35   Tiruvannamalai
36          Vellore
37       Viluppuram
38     Virudhunagar

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [4]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Kanchipuram": ["Kancheepuram"],
    "Kanyakumari": ["Kanniyakumari"],
    "Namakkal": ["Namakkal *"],
    "Tirupattur": ["Tirupathur"],
    "Thiruvallur": ["Tiruvallur"],
    "Thiruvarur": ["Tiruvarur"],
    "Thoothukkudi": ["Tuticorin"],
    "Viluppuram": ["Villupuram"]
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ… Total fixes in Tamil Nadu: 0

In [5]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)