# District Cleaning â€” Telangana

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [1]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [2]:
STATE_NAME = "Telangana"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Telangana
Number of unique districts: 42

              District Name
0                  Adilabad
1      Bhadradri Kothagudem
2               Hanumakonda
3                 Hyderabad
4                  Jagitial
5                   Jangaon
6                   Jangoan
7   Jayashankar Bhupalpally
8          Jogulamba Gadwal
9           K.V. Rangareddy
10                Kamareddy
11               Karimnagar
12                  Khammam
13            Komaram Bheem
14              Mahabubabad
15             Mahabubnagar
16               Mancherial
17                    Medak
18       Medchal Malkajgiri
19       Medchal-Malkajgiri
20       Medchal?Malkajgiri
21       Medchalâˆ’Malkajgiri
22                   Mulugu
23             Nagarkurnool
24                 Nalgonda
25               Narayanpet
26                   Nirmal
27                Nizamabad
28               Peddapalli
29         Rajanna Sircilla
30              Ranga Reddy
31               Rangareddy
32               Sangareddy
33                 Siddipet
34                 Suryapet
35                Vikarabad
36               Wanaparthy
37                 Warangal
38         Warangal (Urban)
39           Warangal Rural
40           Warangal Urban
41                 Yadadri.

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [ ]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

In [ ]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")