# District Cleaning â€” West Bengal

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [38]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str)
    df["district"] = df["district"].astype(str)

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [76]:
STATE_NAME = "West Bengal"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: West Bengal
Number of unique districts: 23

         District Name
0           Alipurduar
1              Bankura
2              Birbhum
3          Cooch Behar
4     Dakshin Dinajpur
5           Darjeeling
6              Hooghly
7               Howrah
8           Jalpaiguri
9             Jhargram
10           Kalimpong
11             Kolkata
12               Malda
13         Murshidabad
14               Nadia
15   North 24 Parganas
16   Paschim Bardhaman
17   Paschim Medinipur
18     Purba Bardhaman
19     Purba Medinipur
20             Purulia
21  South 24 Paraganas
22      Uttar Dinajpur

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [72]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "North 24 Parganas" : ["24 Paraganas North", "North Twenty Four Parganas"],
    "South 24 Paraganas" : ["24 Paraganas South", "South Twenty Four Parganas", "South 24 Paragana", "South 24 Parganas", "South 24 Pargana"],
    "Purba Bardhaman" : ["Barddhaman", "Bardhaman","Burdwan"],
    "Cooch Behar" : ["Coochbehar", "Koch Bihar"],
    "Dakshin Dinajpur" : ["South Dinajpur","Dinajpur Dakshin"],
    "Purba Medinipur" : ["East Midnapore", "East Midnapur"],
    "Darjeeling" : ["Darjiling"],
    "Uttar Dinajpur" : ["Dinajpur Uttar", "North Dinajpur"],
    "Howrah" : ["Haora", "Hawrah"],
    "Hooghly" : ["Hooghiy", "Hugli"],
    "Malda" : ["Maldah"],
    "Paschim Medinipur" : ["Medinipur West", "Medinipur", "West Medinipur", "West Midnapore"],
    "Purulia" : ["Puruliya"],
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ” Enrolment â†’ Purulia : 2095 rows fixed
âœ” Demographic â†’ Purulia : 2588 rows fixed
âœ” Biometric â†’ Purulia : 2803 rows fixed
âœ… Total fixes in West Bengal: 7486

In [73]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)